@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This system was developed for a technical assessment exercise by Iriajen Onas. <br/>Email: iriajenfrancis@gmail.com <br/> Phone Number: 2348056770151</p>
